doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous")
    script(src="/scripts/script.js")
  body.d-flex.flex-column
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        div.container-fluid
          a.navbar-brand(href="#") Star Wars Weather
          button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
          div.collapse.navbar-collapse.d-xl-flex.justify-content-xl-center#navbarSupportedContent
            div.d-flex.justify-content-center
              form.text-center.form-inline.m-1.m-xl-0.mr-xl-2(method="GET")
                div.input-group
                  input.form-control(placeholder="City" name="city")
                  div.input-group-append
                    button.btn.btn-outline-warning Search
              button.m-1.btn.btn-outline-success#use-location-btn Use Location

    main.d-flex.flex-grow-1
      block content

    footer.bg-dark.p-1.text-light.text-center
      p Weather API powered by 
        a(href="https://openweathermap.org/") Open Weather Map
        br
      p Based on Tom Scott's 
        a(href="https://www.tomscott.com/weather/starwars/") idea